@{
    ViewBag.Title = "About";
}
<style>
    
    li{color:white;
}

</style>
<div style="background-color:black; opacity:.85;color:white">
<div class="container body-content;">
    <h2>About Sean</h2>
    <p>Sean has always had a passion for technology. He loves solving problems creatively and working together on teams to find the best solution. He has only been coding for three months but in that time he has learned so much.</p>
    
   <div class="col-md-4">
       <img src="~/Content/Images/Sean.jpg"style="max-width: 100%" class="img-responsive" />
   </div>

    <div class="col-md-4" style="font-size:17px;">
        <h3> Sean has many skills which include:</h3>
     <ul >
        <li>C#</li>
        <li>SQL</li>
        <li>Javascript</li>
        <li>AJAX</li>
        <li>JSON</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Bootstrap</li>
        
    </ul>
   </div>
    <div class="col-md-4">

        <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">Linkedin Profile</a><br />
        <br />
        <strong>Github:</strong>   <a href="https://github.com/seaneafford">Github</a><br />
        <br />
        <strong>Codeeval:</strong>   <a href="https://www.codeeval.com/profile/seaneafford/">Codeeval</a><br />
    </div>
</div>
</div>
