@{
    ViewBag.Title = "Contact";
}
<div style="background-color:black; opacity:.70; color:white;">
    <div class="container body-content;">
        <h2>@ViewBag.Title.</h2>
        <h3>Ways To Contact Sean</h3>

        <address>
           <strong>Email:</strong> sean1eafford@gmail.com
          <br />
            <br />
            <strong>phone:</strong> (216)-374-0622
        <br />
            <br />
            <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">Linkedin Profile</a><br />
            <br/>
            <strong>Github:</strong>   <a href="https://github.com/seaneafford">Github</a><br />
            <br />
            <strong>Codeeval:</strong>   <a href="https://www.codeeval.com/profile/seaneafford/">Codeeval</a><br />
        </address>
    </div>
</div>